body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  background-color: #15302f;
}
.css-ui-box
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0px;
  bottom: 0px;
  left:0px;
  right: 0px;

}
.css-prog-title-div
{
   padding-top: 25px;
   padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  background-color: #9eccf0;
  align-items: center;
  justify-content: space-between;
}
.app-title
{
  font-size:48px;
  margin-left: 25px;
}
.css-task-box-div
{ flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   max-height: 500px;
}
.buttons-div
{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 500px;
}
.css-add-task-btn,.css-task-btn,.css-task-completed
{ 
  width: 90%;
  height: 100px;
  border-radius: 45px;
  font-size:20px; 
  margin-top:15px;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: none;
  max-width: 863px;
}
.css-done
{
  margin:25px;
  font-size: 20px;
  padding: 10px 12px;
}
.css-task-completed
{
  border-color: greenyellow;
  color:black;
  background-color: lightgreen;
}

.css-overlay
{
  position: absolute;
  top:0px;
  bottom: 0px;
  left:0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.css-user-ip
{
  height: 450px;
  width:450px;
  background-color: #85abab;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-width: 5px;
  z-index: 5;
}
.css-input-error
{
  color:red;
  margin-top:25px;
  font-weight: bold;
}
.css-task-ip
{
  font-size: 20px;
  border-style: dashed;
  border-width: 5px;
  border-color: black;
  border-radius: 50px;
  padding:15px 30px;
}
.css-task-ip::placeholder
{
  
  color:palevioletred
}
.css-task-ip:focus
{
  outline: none;
}
.css-task-ok
{
  margin:25px 50px 0px 50px; 
  height: 50px;
  font-size: 20px;
  border-style: none;
  border-radius: 50px;
  padding: 15px 30px;
}

.css-progress-bar-div
{
  position: relative;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: conic-gradient(#2fbaff 3.6deg, #fff 0deg);
}
.css-progress-bar-div::before
{
  z-index: 3;
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 220px;
  width: 220px;
  background-color:#85abab;
}
.css-progress-bar-div-ptr
{
  position: relative;
  z-index:2;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background:conic-gradient(from 2deg,transparent 99%,#ff0000 1%);
}
.js-percentage
{
  position: absolute;
  z-index: 5;
  font-size: 29px;

}
.css-hidden-bar
{
  font-size: 29px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
}
.css-hidden-bar span
{
    font-size:50px;
}
.nav-btn-css
{
  opacity: 0;
  border-style: none;
  padding: 15px 30px;

}
.css-hidden-bar:hover .nav-btn-css,.css-banner-close
{
    border-style: none;
  padding: 15px 30px;
  justify-content: space-between;
  background:#9eccf0;
  opacity: 100;
    font-size: 18px;
}
.css-about-page
{
  height: 500px;
  width:450px;
  background-color: #85abab;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-width: 5px;
  font-size: 18px;
}
.about-title-span,.css-banner-close,.about-proj-div
{
  margin-top:25px;
  margin-left:15px;
  margin-right: 15px;
}
.about-title-span
{
font-weight: bold;
}
@media screen and (max-width:800) 
{
  .css-prog-title-div
  {
    flex:2;
    background-color: #0063af;
  }
    .css-task-box-div
  { flex:1;}
  .buttons-div
  {
    flex:1;
  }
}